.quiz-container{
    font-family: "roboto", sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;  
}
.quiz-container .timer{
font-weight: bold;
text-align: right;
}

h1{
    max-width: 100%;
    height: 10vh;
    background: rgb(233, 18, 18);
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
}
.quiz-container h2.question{
    font-size: 30px;
    padding: 36px;
    border-radius: 8px;
    font-weight: normal;
    line-height: 1.6px; 
    text-align: left;
}
.question-body h4.questionNumber{
    font-size: 20px;
    border-radius: 10px;
    font-weight: normal;
    line-height: 1.6px; 
    margin-left: 5rem;
}
.question-body{
    background: rgb(233, 18, 18);
    border-radius: 25px;
    width: 100%;
    height: 52vh;
}
.quiz-container .options{
    display: grid;
    grid-template-rows: 1fr;
    gap: 15px;
    margin-bottom: 7px;
}
.quiz-container #option0, .quiz-container #option1, .quiz-container #option2, .quiz-container #option3{
    border-radius: 40px;
    padding: 5px 15px;
    font-size: 18px;
    background: rgba(75, 86, 90, 0.774);
    color: #fff;
    border: none;
    width: 300px;
    text-align: left;
}
.option:hover{
    color: black;
}
.quiz-container span {
    cursor: pointer;
}
.disabled{
    pointer-events: none;
}
.option.correct{
    background: greenyellow;
}
.option.incorrect{
    background: red;
}
.quiz-container .next-btn,.previous-btn{
    position: absolute;
    left: 25rem;
    background: red;
    color: #fff;
    border-radius: 55px;
    padding: 3px 25px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    width: fit-content;
    margin-top: 60px;
    border: none;
}
.previous-btn{
   position: absolute;
   left: 12rem;
}
.Quiz-result .retake-btn,

.Quiz-result{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 900px;
    margin: 0 auto;
    font-family: "roboto" sans-serif;
    padding: 16px;
    display: none;
}
.Quiz-result .question-container{
    padding: 12px;
    border: 1px solid honeydew;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Quiz-result .question-container.incorrect{
    background: red;
    color: #fff;
}